[submodule "tool/geotool"]
	path = tool/geotool
	url = https://github.com/hq450/geotool.git
[submodule "tool/xapi-tool"]
	path = tool/xapi-tool
	url = git@github1.com:hq450/xapi-tool.git
[submodule "tool/node-tool"]
	path = tool/node-tool
	url = git@github1.com:hq450/node-tool.git
[submodule "tool/sub-tool"]
	path = tool/sub-tool
	url = git@github1.com:hq450/sub-tool.git
[submodule "tool/ws-tool"]
	path = tool/ws-tool
	url = git@github1.com:hq450/ws-tool.git
[submodule "tool/status-tool"]
	path = tool/status-tool
	url = git@github1.com:hq450/status-tool.git
